<!DOCTYPE html>
<html lang="en"  data-bs-theme="dark">
<head>
    <%- include('partials/head') %>
</head>
<body>
    <%- include('partials/header') %>

    <div class="container mt-4">
        <%- body %> <!-- This is where the content of individual pages will be inserted -->
    </div>

    <%- include('partials/footer') %>
    <%- include('partials/bootstrap') %>
</body>
</html>
